@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.base-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

  .header {
    margin-left: 3rem;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
  }

  .content {
    display: flex;
    flex-direction: column;

    .loginImg {
      width: 10em;
      margin-left: auto;
      margin-right: auto;
      display: block;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
    .image {
      width: 21em;
      margin-left: auto;
      margin-right: auto;
      display: block;
      img {
        width: 100%;
        height: 100%;
      }
    }

    .form {
      margin-top: 1em;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

      .form-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;  
      }
        label {
          font-size: 20px;
          
        }
        input {
          // margin-top: 10px;
          min-width: 25em;
          text-align: center;
          height: 2rem;
          padding: 0px 10px;
          font-size: 16px;
          font-family: 'Roboto', sans-serif;
          background-color: #f3f3f3;
          border: 1px solid white;
          border-radius: 23px;
          margin-bottom: 25px;
          max-width: 25px;
          transition: all 250ms ease-in-out;
          &:hover {
            background-color: #ffffff;
            box-shadow: 0px 0px 14px 0.3px #0e81ce96;
          }

          &:focus {
            outline: none;
            box-shadow: 0px 0px 12px 0.8px #3474dbb2;
          }
        }
   

  .footer {
    margin-top: 0.5em;
  }


.registerbtn{
  margin-left: 2rem;
  background-color: #1a1b1e;
  border: 1px solid #9a9ea4;
}

.loginbtn{
  background-color: #F5618B;
  float: right;
  margin-right: 8.5rem;
  border: 1px solid #9a9ea4;
  background-color: #242424;
}

.password{
  margin-top: -1.5rem;
  font-size: small;
}

.error {
  color:#E83151;
  font-size: 0.7em;
  display: relative;
  margin-top: -1.5rem;
}

input.error {
  border: 1px solid #EADAE4;
}

.margin{
  margin-left: 1rem;
}

.marginnew{
  margin-right: 2rem;
margin-right: 1rem;
}

.addon{
  text-align: center;
  color: rgba(255, 255, 255, 1);
opacity: 90%;
  padding-right: 3rem;
  font-family: "Roboto", sans-serif;
  font-size: 44px;
  font-weight: bold;
}

.subadd{
  color: rgba(255, 255, 255, 1);
  opacity: 90%;
  font-size: 16px;
  text-align: left;
  margin-left: 9rem;
  padding-top: 0.5rem;
}

.signintext{
  color: rgba(255, 255, 255, 1);
  opacity: 90%;
  font-size: 16px;
  text-align: left;
  padding-right: 20rem;


}

.style-avatar{
  margin-right: 2rem;
}

.button{
  color: white;

}

.lato{
  font-family: 'Lato', sans-serif;
  font-size: 48px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  opacity: 90%;
  padding-right: 3rem;
  font-weight: bold;
  margin-top: 3rem;
}

.editlato{
  font-family: 'Lato', sans-serif;
  font-size: 48px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  opacity: 90%;
  opacity: 90%;
  padding-right: 3rem;
  font-weight: bold;
  // margin-top: 3rem;

}

.bg{
  background-color:black;
  min-height: 100vh;
}

.bgmenu{
  background-color: black;
}

@media screen and (max-width: 400px){
  input {
    min-width: 15em;
          text-align: center;
          height: 2rem;
          padding: 0px 10px;
          font-size: 16px;
          font-family: 'Roboto', sans-serif;
          background-color: #f3f3f3;
          border: 1px solid white;
          border-radius: 23px;
          margin-bottom: 25px;
          max-width: 10%;
          transition: all 250ms ease-in-out;
    
  }
}

@media screen and (max-width:400px){
  .header{
    //margin-left: 3rem;
    font-size: 1.5rem !important;
    font-family: 'Roboto', sans-serif;
    text-align: center !important;
    font-weight: normal;

  }
  .header.lato{
    font-family: 'Lato', sans-serif;
    font-size: 1rem !important;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    opacity: 1;
    opacity: 90%;
    padding-right: 3rem;
    font-weight: bold;
    margin-top: 3rem;
  }

  .header.editlato {
    font-family: 'Lato', sans-serif;
    font-size: 1rem !important;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    opacity: 1;
    opacity: 90%;
    padding-right:3rem;
    font-weight: normal;
    
  }

  .header.subadd {
  color: rgba(255, 255, 255, 1);
  opacity: 1;
  font-size: 16px;
  text-align: left ;
  margin-left: .05rem !important;
  font-size: .8rem !important;
}
.loginbtn{
  float: right;
  margin-right: 2rem;
  border: 1px solid #9a9ea4;
  background-color: #242424;
}
}
@media screen and (max-width:400px){
  .float{
   
    display: inline-block !important;
    justify-content: inherit !important;
    font-weight: normal !important;
    font-size: .75rem !important;
    margin-top: 2rem !important;
    

  }
}

@media screen and (max-width:400px){
  span{
   
    display: flex !important;
    justify-content: inherit!important;
    //margin-top: .2rem;
    
    

  }
}
@media screen and (max-width:400px){
   
  .MuiAvatar-root MuiAvatar-circle makeStyles-avatars-10 MuiAvatar-colorDefault{
    display: flex !important;
    float: left !important;
    margin-bottom: 50rem !important;
    height: 50px !important;
    
    width: 150px !important; 
    
    font-Size: 30px !important;
    font-weight: normal !important;
    
}
}

// @media screen and (max-width:400px){
   
//   .MuiSvgIcon-root{
//     height: 215;
//          width: 400;
//          margin-left: -rem;
         

//   }
    
// }

    



// @media screen and (max-width:400px){
//   Toolbar{
   
//   display: flex !important;;
//   justify-content: inherit!important;
//   margin-top: 0;
//   }
// }